@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
    var UserName = Session["UserName"];
}
    <div class="wrapper">
        <div class="main-panel">
            <!-- BEGIN : Main Content-->
            <div class="main-content">
                <div class="content-wrapper">
                    <!-- Wizard Starts -->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="content-header">Registration Form</div>
                        </div>
                    </div>
                    <section id="icon-tabs" style="margin-right: 250px;">
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h4 class="card-title">Personal User Information Form</h4>
                                    </div>
                                    <div class="card-content">
                                        <div class="card-body">
                                            <form class="icons-tab-steps wizard-circle" #f="ngForm">
                                                <!-- Step 1 -->
                                                <h6>Personal Information</h6>
                                                <fieldset>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="firstName2">First Name</label>
                                                                <input type="text" class="form-control" id="firstName2" name="firstName2">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="lastName2">Last Name</label>
                                                                <input type="text" class="form-control" id="lastName2" name="lastName2">
                                                            </div>
                                                        </div>

                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="firstName3">Father's Name</label>
                                                                <input type="text" class="form-control" id="firstName3" name="firstName3">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="firstName3">Father's Occupation</label>
                                                                <input type="text" class="form-control" id="firstName3" name="firstName3">
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="emailAddress3">Gender</label>
                                                                <input type="text" class="form-control" id="emailAddress3" name="emailAddress3">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="phoneNumber2">Phone Number</label>
                                                                <input number class="form-control" id="phoneNumber2" name="phoneNumber2">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="date2">Date of Birth</label>
                                                                <div class='input-group'>
                                                                    <input type='text' class="form-control pickadate" placeholder="Date of birth" />
                                                                    <div class="input-group-append">
                                                                        <span class="input-group-text">
                                                                            <span class="fa fa-calendar-o"></span>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                                <!-- Step 2 -->
                                                <h6>Contact Information</h6>
                                                <fieldset>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="proposalTitle2">Home Address</label>
                                                                <input type="text" class="form-control" id="proposalTitle2" name="proposalTitle2">
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="shortDescription2">City</label>
                                                                <input type="text" class="form-control" id="jobTitle3" name="jobTitle3">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="jobTitle3">Zip Code</label>
                                                                <input type="text" class="form-control" id="jobTitle3" name="jobTitle3">
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="emailAddress4">Country</label>
                                                                <input type="text" class="form-control" id="emailAddress4" name="emailAddress4">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                                <!-- Step 3 -->
                                                <h6>Educational Information</h6>
                                                <fieldset>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="eventName2">Matric Roll Number</label>
                                                                <input type="text" class="form-control" id="eventName2" name="eventName2">
                                                            </div>

                                                            <div class="form-group">
                                                                <label for="eventType2">Matric Board</label>
                                                                <input type="text" class="form-control" id="eventType2" name="eventType2">
                                                            </div>

                                                            <div class="form-group">
                                                                <label for="eventType2">Matric marks</label>
                                                                <input type="text" class="form-control" id="eventType2" name="eventType2">
                                                            </div>

                                                            <div class="form-group">
                                                                <label for="eventStatus2">Inter Board</label>
                                                                <input type="text" class="form-control" id="eventStatus2" name="eventStatus2">
                                                            </div>

                                                            <div class="form-group">
                                                                <label for="eventLocation2">Inter Roll Number</label>
                                                                <input type="text" class="form-control" id="eventType2" name="eventType2">
                                                            </div>

                                                            <div class="form-group">
                                                                <label for="eventStatus2">Inter marks</label>
                                                                <input type="text" class="form-control" id="eventStatus2" name="eventStatus2">
                                                            </div>


                                                        </div>
                                                </fieldset>
                                                <!-- Step 4 -->
                                                <h6>Finalize</h6>
                                                <fieldset>
                                                    <div class="row">
                                                        <div class="fg-actions d-flex justify-content-between">
                                                            <div class="login-btn">
                                                                <button class="btn btn-primary" style="margin-left: 100px;">
                                                                    Click To download Admission Form
                                                                    </a>
                                                                </button>
                                                            </div>
                                                            <div class="fg-actions d-flex justify-content-between">
                                                                <div class="login-btn">
                                                                    <button class="btn btn-primary" style="margin-left: 100px;">
                                                                        Click To download Challan Form
                                                                        </a>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                </fieldset>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- Wizard Ends -->

                </div>
            </div>
        </div>
    </div>