<!DOCTYPE html>
<html lang="en" class="loading">
<head>
    @Html.Partial("_Head")
</head>
<script>

    if (performance.navigation.type == 2) {
        location.reload();
    }
</script>
<body data-col="2-columns" class="2-columns layout-dark layout-transparent bg-glass-1">
    @Html.Partial("_Header")
    @RenderBody()
    @Html.Partial("_Footer")
</body>
</html>
